.base {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 2px solid;
  border-radius: var(--radius);
  transition: all 0.2s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.solid {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.outline {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
}
